# **Working with JSON/SQL**

In [ ]:
import pandas as pd

## JSON (JavaScript Object Notation)

- JSON is a universal data format, almost all programming languages support it.
- The response from API calls is usually in JSON format.
- JSON is easy to read and write for humans and easy to parse and generate for machines.

In [ ]:
# reading JSON data
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [33]:
# reading JSON data from public url endpoint
pd.read_json('https://open.er-api.com/v6/latest/PKR')

,result,provider,documentation,terms_of_use,time_last_update_unix,time_last_update_utc,time_next_update_unix,time_next_update_utc,time_eol_unix,base_code,rates
PKR,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,1.000000
AED,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.012972
AFN,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.234662
ALL,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.294797
AMD,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,1.352017
...,...,...,...,...,...,...,...,...,...,...,...
XPF,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.364124
YER,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.845008
ZAR,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.061252
ZMW,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.080351
ZWL,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1760400151,"Tue, 14 Oct 2025 00:02:31 +0000",1760487101,"Wed, 15 Oct 2025 00:11:41 +0000",0,PKR,0.094203

In [ ]:
# API request
import requests

url = 'https://v6.exchangerate-api.com/v6/Your_API_Key/latest/USD' 
response = requests.get(url)
data = response.json()

In [29]:
df = pd.DataFrame([data])
df

,result,documentation,terms_of_use,time_last_update_unix,time_last_update_utc,time_next_update_unix,time_next_update_utc,base_code,conversion_rates
0,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1760400001,"Tue, 14 Oct 2025 00:00:01 +0000",1760486401,"Wed, 15 Oct 2025 00:00:01 +0000",USD,"{'USD': 1, 'AED': 3.6725, 'AFN': 66.4279, 'ALL..."

## SQL (Structured Query Language)

- SQL is a standard language for storing, manipulating, and retrieving data in databases.
- SQL is used to communicate with a database.
- SQL is used in various database systems like MySQL, PostgreSQL, SQLite, and more.

To work with SQL databases in Python, you can use libraries like `sqlite3` for SQLite databases or `mysql-connector` for MySQL databases.

In [ ]:
# installing mysq;.connector 
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     - ------------------------------------- 0.5/11.9 MB 540.5 kB/s eta 0:00:21
     - ------------------------------------- 0.5/11.9 MB 540.5 kB/s eta 0:00:21
     -- ------------------------------------ 0.8/11.9 MB 599.2 kB/s eta 0:00:19
     -- ------------------------------------ 0.8/11.9 MB 599.2 kB/s eta 0:00:19
     --- ----------------------------------- 1.0/11.9 MB 629.1 kB/s eta 0:00:18
     ---- ---------------------------------- 1.3/11.9 MB 657.8 kB/s eta 0:00:17
     ---- ---------------------------------- 1.3/11.9 MB 657.8 kB/s eta 0:00:17
     ----- --------------------------------- 1.6/11.9 MB 671.1 kB/s eta 0:00:16
     ----- --------------------------------- 1.6/11.9 MB 671.1 kB/s eta 0:00:16
     ------ -------------------------------- 1.8/11.9 MB 680.0 kB/s eta 0:00:15
     ------ -------------------------------- 2.1/11.9 MB 690.9 kB/s eta 0:00:15
     ------ -------------------------------- 2.1/11.9 MB 690.9 kB/s eta 0:00:15
     ------- ------------------------------- 2.4/11.9 MB 695.3 kB/s eta 0:00:14
     ------- ------------------------------- 2.4/11.9 MB 695.3 kB/s eta 0:00:14
     -------- ------------------------------ 2.6/11.9 MB 686.2 kB/s eta 0:00:14
     --------- ----------------------------- 2.9/11.9 MB 696.1 kB/s eta 0:00:13
     --------- ----------------------------- 2.9/11.9 MB 696.1 kB/s eta 0:00:13
     ---------- ---------------------------- 3.1/11.9 MB 704.3 kB/s eta 0:00:13
     ----------- --------------------------- 3.4/11.9 MB 711.4 kB/s eta 0:00:12
     ----------- --------------------------- 3.4/11.9 MB 711.4 kB/s eta 0:00:12
     ------------ -------------------------- 3.7/11.9 MB 710.4 kB/s eta 0:00:12
     ------------ -------------------------- 3.9/11.9 MB 718.2 kB/s eta 0:00:12
     ------------ -------------------------- 3.9/11.9 MB 718.2 kB/s eta 0:00:12
     ------------- ------------------------- 4.2/11.9 MB 723.1 kB/s eta 0:00:11
     -------------- ------------------------ 4.5/11.9 MB 735.5 kB/s eta 0:00:11
     --------------- ----------------------- 4.7/11.9 MB 742.7 kB/s eta 0:00:10
     --------------- ----------------------- 4.7/11.9 MB 742.7 kB/s eta 0:00:10
     ---------------- ---------------------- 5.0/11.9 MB 749.3 kB/s eta 0:00:10
     ---------------- ---------------------- 5.0/11.9 MB 749.3 kB/s eta 0:00:10
     ----------------- --------------------- 5.2/11.9 MB 737.9 kB/s eta 0:00:09
     ------------------ -------------------- 5.5/11.9 MB 745.7 kB/s eta 0:00:09
     ------------------ -------------------- 5.5/11.9 MB 745.7 kB/s eta 0:00:09
     ------------------ -------------------- 5.5/11.9 MB 745.7 kB/s eta 0:00:09
     ------------------ -------------------- 5.8/11.9 MB 731.0 kB/s eta 0:00:09
     ------------------- ------------------- 6.0/11.9 MB 735.2 kB/s eta 0:00:08
     ------------------- ------------------- 6.0/11.9 MB 735.2 kB/s eta 0:00:08
     -------------------- ------------------ 6.3/11.9 MB 725.3 kB/s eta 0:00:08
     -------------------- ------------------ 6.3/11.9 MB 725.3 kB/s eta 0:00:08
     --------------------- ----------------- 6.6/11.9 MB 719.0 kB/s eta 0:00:08
     --------------------- ----------------- 6.6/11.9 MB 719.0 kB/s eta 0:00:08
     ---------------------- ---------------- 6.8/11.9 MB 715.8 kB/s eta 0:00:08
     ---------------------- ---------------- 6.8/11.9 MB 715.8 kB/s eta 0:00:08
     ----------------------- --------------- 7.1/11.9 MB 711.6 kB/s eta 0:00:07
     ------------------------ -------------- 7.3/11.9 MB 710.0 kB/s eta 0:00:07
     ------------------------ -------------- 7.3/11.9 MB 710.0 kB/s eta 0:00:07
     ------------------------ -------------- 7.3/11.9 MB 710.0 kB/s eta 0:00:07
     ------------------------- ------------- 7.6/11.9 MB 693.9 kB/s eta 0:00:07
     ------------------------- ------------- 7.6/11.9 MB 693.9 kB/s eta 0:00:07
     ------------------------- ------------- 7.6/11.9 MB 693.9 kB/s eta 0:00:07
     ------------------------- ------------- 7.9/11.9 MB 683.3 kB/s eta 0:00:06
     ------------------------- ------------- 7.9/11.9 MB 683.3 kB/s eta 0:00:06
     -------------------------- ------------ 8.1/11.9 MB 677.4 kB/s eta 0:00:06
     -------------------------- ------------ 8.1/11.9 MB 677.4 kB/s eta 0:00:06
     --------------------------- ----------- 8.4/11.9 MB 673.7 kB/s eta 0:00:06
     --------------------------- ----------- 8.4/11.9 MB 673.7 kB/s eta 0:00:06
     ---------------------------- ---------- 8.7/11.9 MB 672.8 kB/s eta 0:00:05
     ---------------------------- ---------- 8.7/11.9 MB 672.8 kB/s eta 0:00:05
     ----------------------------- --------- 8.9/11.9 MB 671.1 kB/s eta 0:00:05
     ----------------------------- --------- 8.9/11.9 MB 671.1 kB/s eta 0:00:05
     ------------------------------ -------- 9.2/11.9 MB 669.5 kB/s eta 0:00:04
     ------------------------------ -------- 9.2/11.9 MB 669.5 kB/s eta 0:00:04
     ------------------------------- ------- 9.4/11.9 MB 668.8 kB/s eta 0:00:04
     ------------------------------- ------- 9.4/11.9 MB 668.8 kB/s eta 0:00:04
     ------------------------------- ------- 9.7/11.9 MB 667.4 kB/s eta 0:00:04
     ------------------------------- ------- 9.7/11.9 MB 667.4 kB/s eta 0:00:04
     ------------------------------- ------ 10.0/11.9 MB 660.4 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 660.4 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 660.4 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 660.4 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 643.3 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 643.3 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 643.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     --------------------------------- ---- 10.5/11.9 MB 630.3 kB/s eta 0:00:03
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 580.0 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 545.9 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 545.9 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 545.9 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 545.9 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 545.9 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 528.6 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 528.6 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 528.6 kB/s eta 0:00:02
     ------------------------------------ - 11.3/11.9 MB 528.6 kB/s eta 0:00:02
     ------------------------------------ - 11.5/11.9 MB 517.9 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 517.9 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 517.9 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 517.9 kB/s eta 0:00:01
     -------------------------------------  11.8/11.9 MB 508.7 kB/s eta 0:00:01
     -------------------------------------  11.8/11.9 MB 508.7 kB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 504.3 kB/s  0:00:23
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=248038 sha256=e73badb8a18657276fef85b2719c637470084e535512fc0a22c53e11a2d7d61b
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\76\48\9b\da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [35]:
import mysql.connector

In [ ]:
# connecting to MySQL database
conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [43]:
# fetching data from SQL database
pd.read_sql_query('SELECT * FROM city', conn)

C:\Users\HP\AppData\Local\Temp\ipykernel_3844\3958920354.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SELECT * FROM city', conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [ ]:
# installing MySQL + SQLAlchemy support
!pip install -q SQLAlchemy mysql-connector-python

In [ ]:
# using SQLAlchemy
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqlconnector://root:@localhost/world")
pd.read_sql_query("SELECT * FROM city", engine)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [50]:
pak = pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'PAK'", engine)
pak.head()

     ID        Name CountryCode District  Population
0  2822     Karachi         PAK    Sindh     9269265
1  2823      Lahore         PAK   Punjab     5063499
2  2824  Faisalabad         PAK   Punjab     1977246
3  2825  Rawalpindi         PAK   Punjab     1406214
4  2826      Multan         PAK   Punjab     1182441

In [51]:
punjab = pd.read_sql_query("SELECT * FROM city WHERE District LIKE 'Punjab'", engine)
punjab.head()

     ID                   Name CountryCode District  Population
0  1039               Ludhiana         IND   Punjab     1042740
1  1054               Amritsar         IND   Punjab      708835
2  1071  Jalandhar (Jullundur)         IND   Punjab      509510
3  1129                Patiala         IND   Punjab      238368
4  1192    Bhatinda (Bathinda)         IND   Punjab      159042

In [52]:
asia = pd.read_sql_query("SELECT * FROM country WHERE continent LIKE 'Asia'", engine)
asia.head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1,AF
1,ARE,United Arab Emirates,Asia,Middle East,83600.0,1971.0,2441000,74.1,37966.0,36846.0,Al-Imarat al-Â´Arabiya al-Muttahida,Emirate Federation,Zayid bin Sultan al-Nahayan,65,AE
2,ARM,Armenia,Asia,Middle East,29800.0,1991.0,3520000,66.4,1813.0,1627.0,Hajastan,Republic,Robert KotÅ¡arjan,126,AM
3,AZE,Azerbaijan,Asia,Middle East,86600.0,1991.0,7734000,62.9,4127.0,4100.0,AzÃ¤rbaycan,Federal Republic,HeydÃ¤r Ã„liyev,144,AZ
4,BGD,Bangladesh,Asia,Southern and Central Asia,143998.0,1971.0,129155000,60.2,32852.0,31966.0,Bangladesh,Republic,Shahabuddin Ahmad,150,BD